<footer id="footer">
 
		<div class="container">
   <div class="row">
  <div class="footerbottom">
    <div class="col-md-4 col-sm-6">
      <div class="footerwidget">
        <h4>
          关注我们
        </h4>
        <img class="img-responsive" src="{$web_info['set_logo']}" style="width: 120px;">
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="footerwidget">
        <h4>
          技术服务
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li> 
              售前小组：9:00-18:00
            </li>
            <li>
              售后小组：9:00-18:00
            </li>
            <li>
              应急小组：24小时×365天
            </li>
            <li>
              应急电话：010-12345678
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-sm-6"> 
            	<div class="footerwidget"> 
                <h4>联系我们</h4> 
                <p>{$web_info['set_name']}</p>
            <div class="contact-info"> 
            QQ：{$web_info['set_qq']}<br/>
            <i class="fa fa-map-marker"></i>&nbsp;&nbsp;{$web_info['set_addr']}<br>
            <i class="fa fa-phone"></i>&nbsp;{$web_info['set_tel']}<br>
             <i class="fa fa-envelope-o"></i>&nbsp;{$web_info['set_email']}
              </div> 
                </div><!-- end widget --> 
    </div>
  </div>
</div>
			<div class="social text-center">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-flickr"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>

			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">
					<div class="col-md-12 panel">
						<div class="panel-body">
							<p class="text-center">
								{$web_info['set_footer']}
							</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="__PUBLIC__/assets/js/modernizr-latest.js"></script> 
	<script type='text/javascript' src='__PUBLIC__/assets/js/jquery.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/assets/js/fancybox/jquery.fancybox.pack.js'></script>
    
    <script type='text/javascript' src='__PUBLIC__/assets/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/assets/js/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='__PUBLIC__/assets/js/camera.min.js'></script> 
    <script src="__PUBLIC__/assets/js/bootstrap.min.js"></script> 
	<script src="__PUBLIC__/assets/js/custom.js"></script>
    <script>
		jQuery(function(){
			
			jQuery('#camera_wrap_4').camera({
                transPeriod: 500,
                time: 3000,
				height: '600',
				loader: 'false',
				pagination: true,
				thumbnails: false,
				hover: false,
                playPause: false,
                navigation: false,
				opacityOnGrid: false,
				imagePath: '__PUBLIC__/assets/images/'
			});

		});
      
	</script>
    
</body>
</html>
