<include file='Public:header'/>

<header id="head" class="secondary">
    <div class="container">
        <h1>课程中心</h1>
    </div>
</header>

    
	<div id="courses">
		<section class="container">
			<div class="row">

			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<br>
				<br>
				<table style="text-align: center;" width="100%">
					<tr><td><h2>{$info['c_name']}</h2></td></tr>
					<tr align="center"><td>
						作者：{$info['c_author']}&nbsp;&nbsp;&nbsp;
						分类：{$info['c_pname']}&nbsp;&nbsp;&nbsp;
						点击率：{$info['c_count']}&nbsp;&nbsp;&nbsp;
						发布日期：{:date('Y-m-d H:i:s',$info['c_date'])}
					</td></tr>
					<tr>
						<td style='text-align:left;'>
						{$info['c_content']}
						</td>
					</tr>
				</table>
				
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-right">
				<div class="row panel">
				<foreach name='p_title' item='v1'>				
					<div class="col-xs-12">
						<h3>{$v1['c_name']}</h3>
						<foreach name='s_title' item='v2'>
							<if condition="$v2['c_pid'] eq $v1['c_id']">
								<p><a href="http://{$Think.server.HTTP_HOST}/classes/{$v2['c_id']}.html">{$v2['c_name']}</a></p>
							</if>
						</foreach>
					</div>
				</foreach>
				</div>
			</aside>
			<!-- /Sidebar -->

		</div>

		</section>
	</div>
    
 <include file='Public:footer'/>
